## Ignore Visual Studio temp files, build results, and other common artifacts

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Re]leases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Log]/
[Logs]/

# Visual Studio 2015/2017/2019/2022 cache directory
.vs/
# File-based Solution explorer cache
.vs/**

# gitignore for rider/resharper / vscode
.idea/
.vscode/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary
# **/packages/

# Directory-level cleanup
node_modules/
bin/
obj/
